<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapp.CustomizedListView"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapp.ItemSelection"
            android:label="@string/title_activity_item_selection" >
        </activity>
        <activity
            android:name="com.example.myapp.MITBAYActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myapp.Listing"
            android:label="@string/title_activity_listing" >
        </activity>
        <activity
            android:name="com.login.LogInPage"
            android:label="@string/title_activity_log_in_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.login.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.login.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.myapp.SellOneItem"
            android:label="@string/title_activity_sell_one_item" >
        </activity>
        <activity
            android:name="com.example.myapp.SplashScreen"
            android:label="@string/title_activity_customized_list_view" >
        </activity>
        <activity
            android:name="com.example.myapp.ConfirmSellItem"
            android:label="@string/title_activity_confirm_sell_item" >
        </activity>
        <activity
            android:name="com.example.myapp.ItemDetail"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name="com.example.myapp.ConfirmBuyItem"
            android:label="@string/title_activity_confirm_buy_item" >
        </activity>
    </application>

</manifest>