<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.mitbay" >
        <activity
            android:name="com.example.myapp.CustomizedListView"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/mitbay_DropDownListView"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
             >
        </activity>
        <activity
            android:name="com.example.myapp.ItemSelection"
            android:label="@string/title_activity_item_selection" >
        </activity>
        <activity
            android:name="com.example.myapp.MITBAYActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myapp.Listing"
            android:label="@string/title_activity_listing" >
        </activity>
        <activity
            android:name="com.login.LogInPage"
            android:label="@string/title_activity_log_in_page"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.login.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.login.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.myapp.SellOneItem"
            android:label="@string/title_activity_sell_one_item" >
        </activity>
        <activity
            android:name="com.example.myapp.SplashScreen"
            android:label="@string/title_activity_customized_list_view" >
        </activity>
        <activity
            android:name="com.example.myapp.ConfirmSellItem"
            android:label="@string/title_activity_confirm_sell_item" >
        </activity>
        <activity
            android:name="com.example.myapp.ItemDetail"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name="com.example.myapp.ConfirmBuyItem"
            android:label="@string/title_activity_confirm_buy_item" >
        </activity>
        <activity
            android:name="com.example.myapp.SettingPreferences"
            android:label="@string/title_activity_setting_preferences" >
        </activity>
        <activity
            android:name="com.example.myapp.BuyingItems"
            android:label="@string/title_activity_buying_items" >
        </activity>
        <activity
            android:name="com.example.myapp.SellingItems"
            android:label="@string/title_activity_selling_items" >
        </activity>
        <activity
            android:name="com.example.myapp.RequestingItems"
            android:label="@string/title_activity_requesting_items" >
        </activity>
        <activity
            android:name="com.example.myapp.UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.example.myapp.History"
            android:label="@string/title_activity_history" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.myapp.NotificationHistory"
            android:label="@string/title_activity_notification_history" >
        </activity>
        <activity
            android:name="com.example.myapp.TopRequested"
            android:label="@string/title_activity_top_requested" >
        </activity>
    </application>

</manifest>